propel:
    database:
        connections:
            default:
                adapter: mysql
                dsn: mysql:host=127.0.0.1;port=3306;dbname=gsw_phrasebook
                user: gsw
                password: xxxxx
                settings:
                    charset: utf8
    runtime:
      defaultConnection: default
      connections:
          - default
